Screen {
}

Input {
    margin: 0 0;
    padding: 0 0;
    border: none;
}

#sidebar {
    dock: left;
    width: 15;
    display: none;
}

#commslog {
    width: 100%;
    display: block;
    height: 10;
}

#mudoutputs {

}

SessionName {
    display: block
}

.masthead {
    display: block;
}

.mudoutput {
    height: 100%;
    width: 100%;
    display: block;
    background: #101018;
}

#motd {
    height: 100%;
    display: block;
    layer: lower;
}

.BKS #leftsidebar {
     dock: left;
     width: 45;
 }
